@font-face {
    font-family: "RWESans";
    src: url("assets/rwe-sans-web-cufonfonts/RWE Sans Web.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "RWESans";
    src: url("assets/rwe-sans-web-cufonfonts/RWE\ Sans\ Web\ Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

body{
    margin: 0;
    overflow-y: scroll;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header-text{
    font-family: 'RWESans';
    font-size: 42px;
    color: #1d4477;
    font-weight: bold;
    margin-bottom: 10px;
}

.tour__head{
    padding-top: 10vh;
    text-align: center;
    margin-bottom: 20px;
}

p{
    font-family: 'RWESans';
    text-align: center;
}

[class^="image-container"]{
    height: 26.190rem;
    position: relative;
    width: 70%;
    display: block;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

canvas{
    width: 100%;
}

.color-codes{
    width: 400px;
}

.color-codes-container {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
  }