body{
    margin: 0;
    overflow-y: scroll;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h2{
    margin: 0;
    color: black;
}
.tour__head{
    padding-top: 10vh;
    text-align: center;
    margin-bottom: 50px;
}

[class^="image-container"]{
    height: 26.190rem;
    position: relative;
    width: 50%;
    display: block;
    margin: 20px auto;
    margin-left: 25%;
    overflow: hidden;
    border-radius: 10px;
}

canvas{
    width: 100%;
}

.color-codes{
    width: 150px;
    height: 150px;
}

.color-codes-container {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
  }