body{
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h2{
    margin: 0;
    color: black;
}
.tour__head{
    padding-top: 10vh;
    text-align: center;
    margin-bottom: 50px;
}

.image-container{
    height: 26.190rem;
    position: relative;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-left: 25%;
    overflow: hidden;
  border-radius: 10px;
}

canvas{
    width: 100%;
}